* {box-sizing:border-box}

.setSlideShow {
	position: relative;
	margin: auto;
}

div{
	text-align: center;
}

h1{
	color: white;
	background-color: black;
}

.slide {
	display: none;
}

.fade {
  animation-name: slide;
  animation-duration: 2.5s;
}

@keyframes slide {
  from {
  	transform: translateX(0%);
  }
  to {
  	transform: translateX(-100%);
  }
}
